body {
  background-color: #ffcdcb;
  width: 100%;
  position: relative;
  max-width: 450px;
  margin: 0 auto;
}
#page {
  position: relative;
  width: 100%;
  padding-top: 158.33333333333334%;
}
#page img {
  position: absolute;
  max-width: 100%;
}
#mms-mm {
  top: 2.923976608187134%;
  left: 14.444444444444443%;
  width: 85.55555555555556%;
}
#record-m {
  top: 30.760233918128655%;
  left: 16.296296296296298%;
  width: 68.88888888888889%;
}
#record-r-1 {
  top: 40.58479532163743%;
  left: 33.14814814814815%;
  width: 8.24074074074074%;
}
#record-r-2 {
  top: 40.58479532163743%;
  left: 58.333333333333336%;
  width: 8.24074074074074%;
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
#title-png {
  top: 61.46198830409356%;
  left: 0%;
  width: 100%;
}
#qr-id {
  top: 78.12865497076024%;
  left: 6.944444444444445%;
  width: 90.0925925925926%;
}
#audio-box {
  position: absolute;
  display: block;
  top: 54.97076023391813%;
  left: 16.296296296296298%;
  width: 68.88888888888889%;
}
#audio-box audio {
  display: block;
  width: 100%;
}
.marker {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  display: none;
  overflow: auto;
  overflow-y: hidden;
  background-color: rgba(51, 51, 51, 0.5);
  width: 100%;
  height: 100%;
}
.marker .loading {
  position: absolute;
  width: 160px;
  height: 160px;
  margin: auto;
  top: 50%;
  left: 50%;
  margin-left: -80px;
  margin-top: -80px;
}
.marker .desc {
  width: 160px;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -80px;
}
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.play #record-r-1,
.play #record-r-2 {
  -webkit-animation-name: round;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  animation-name: round;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
.play #record-r-2 {
  -webkit-animation-name: round2;
  animation-name: round2;
}
@-webkit-keyframes round {
  from {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  from {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes round2 {
  from {
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  to {
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}
@keyframes round2 {
  from {
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  to {
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}
a[href^="http://tongji.baidu.com"] {
  position: absolute;
  display: block;
  z-index: -999;
  left: -100000px;
  top: -111111px;
}
